<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="sweetalert/dist/sweetalert.css">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="sweetalert/dist/sweetalert.min.js"></script>
        <script src="/script/form.js"></script>
        <title>Create a Reminder</title>
    </head>
    <body>
        <div class="page-header" style="text-align:center">
            <h1>Add Event</h1>      
        </div>
        <form role="addEvent" style="margin-left:10px;margin-right:10px" onSubmit="return false;">
            <div class="form-group">
                <h4 for="name">Recipient:</h4>
                <input class="form-control" id="name" value="<%= data.reminder_name || ""%>">
            </div>
            <div class="form-group">
                <h4 for="event">Event (ex. birthday):</h4>
                <input class="form-control" id="event"  value="<%= data.reminder_event || ""%>">
            </div>
            <div class="form-group">
                <h4 for="message">Additional Message:</h4>
                <textarea class="form-control"rows="3" id="message"><%= data.reminder_message || "I hope you enjoy this special day!"%></textarea>
            </div>
            <div class="radio">
              <h4 for="email">Email:</h4>
              
              <input class="form-control" id="email" value="<%= data.reminder_email || ""%>">
            </div>
            <div class="form-group">
                <h4 for="date">Date:</h4>
                <input type="date" id="date"class="form-control" value="<%= data.reminder_date || ""%>">
            </div>
            <button class="submit btn btn-success">Submit!</button>
            <input type="hidden" id="id" value="<%= data.reminder_id === undefined ? -1 : data.reminder_id %>" />
        </form>
    </body>
</html>